# Data files
artic-api-data
data/aic/
data/raw/
data/processed/
*.sqlite
*.jsonl

# Logs
logs/
*.log

# Cache
*_cache*
__pycache__/
.pytest_cache/
*.py[cod]

# Virtual Environment
venv/
.env/
.env

# IDE files
.vscode/
.idea/
*.swp

# Jupyter Notebook
.ipynb_checkpoints
notebooks/.ipynb_checkpoints

# Mac OS files
.DS_Store
artic-api-data